body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #A54657;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 20px;
}
.logo {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px; 
    font-size: 24px;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* break */

.one {
display: flex;
flex-direction: row;
height: 400px;

}

.introduction {
    display: flex;
    flex-direction: column;
    background-color: #A54657;
    color: white;
    padding-left: 100px;
    padding-top: 100px;
}

button {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    padding: 5px;
    font-size: 28px;
    border-style: none;

}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A54657;
    flex: 1;
}

.pic-one {
    display: flex;
    width: 400px;
    height: 250px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.section-two-container {
    display: flex;
    flex-direction: row;
}

.section-two-image {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 20px;  

}

img {
    border-radius: 5px;;
}

.caption {
    display: flex;
    justify-content: center;
}

.section-three {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 100%;
    height: 400px;
    align-items: center;
    
}
.quote-container {
    display: flex;
    justify-content: flex-start;
    width: 400px;
}
.quote {
    font-size: 36px;
    font-weight: lighter;
    text-emphasis: italic;
    color: #1f2937
    
}

.source-container {
display: flex;
justify-content: flex-end;
width: 400px;

}

.source {
    font-weight: bolder;
    color: #1f2937;
    font-size: 24px;
}

.section-four {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.call-container {
    display: flex;
    background-color: #3882f6;
    height: 100px;
    width: 800px;
    margin: 100px;
    border-radius: 3px;
    padding: 5px;
    align-items: center;
    justify-content: space-evenly;

}

.call-text {
    color: white;
}

.button.last {
    border-color: white;
    border-width: 1px;
    border-style: solid;

}

.footer {
    display: flex;
width: 100%;
height: 100px;  
background-color: #1F2937;
color: white;
justify-content: center;
align-items: center;
font-weight: bold;

}

.section {
height: 500px}